*{
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
}

.header{
  /* background-color: rgb(53, 5, 109); */
  background-color: #311b92;
  padding: 2%;
  color: white;
  margin: 0em 0em 0em 0em;
  /* border-radius: 10px; */
}
.wellness{
  display:'flex';
  flex-direction:'column';
  
  margin: 1em;
  border-radius: 10px;
  padding-bottom: 2%;
max-height: 70%;
  /* background-color: rgb(155, 136, 115); */
  background-color: #f9a825;

}

.introduction{
  display:'flex';
  flex-direction:'column';
  justify-content: space-between;
  /* margin-left: '40px'; */
}
.retreates{
  /* background-color: yellow; */
  /* height: 88vh; */
}
.retreatesCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2em;
  
 
}
.navigate{
  display: flex;
  justify-content: center;
}
.individualCard{
  max-width:37%;
 
  padding: 0%;
  margin: 0%;
  background-color: rgb(173, 193, 236);
}
.footer{
  /* background-color: rgb(255, 0, 191); */
  height: 3vh;
  text-align: center;
  background-color: #311b92;
  padding: 2%;
  color: white;
  /* margin: 0em 1em 0em 1em; */
  /* border-radius: 10px; */
}





